<div class="container">
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, as: :select, collection: @categories %>
    <%= f.input :phone_number %>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Back", restaurants_path %>
  <% end %>
</div>